.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

main {
  min-height: 70vh;
}

mat-panel-title {
  font-size: 16px;
  font-weight: 500;
  color: #343434;
}



mat-card-content {
  margin-top: clamp(2rem, 5vw, 3rem);
}

.mat-expansion-panel-header-description {
  gap: 5px;
}

.first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.second-row {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  margin-top: 1rem;
  justify-content: flex-start;
  gap: 6px;
}
.second-row > div {
  border-left: solid #c3c3c3 1px;
  padding: 5px 10px;
}

.first-row > div {
  flex-basis: 100%;
}

.second-row + div + div {
  font-weight: 300;
}
.second-row .data {
  font-size: large;
  color: #3a3a3a;
  font-weight: 500;
}

.progress-content{
    padding: clamp(2rem, 5vw, 3rem);
}
