.image-container {
    width: 100%;
    height: 100%;
}

.high-res {
    opacity: 0;
    transition: opacity 50ms ease-in-out;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.low-res {
    opacity: 1;
    transition: opacity 50ms ease-in-out;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.high-res.fade-in-img {
    opacity: 1;
}

.low-res.fade-out-img {
    display: none;
    opacity: 0;
    filter: blur(0);
}