<div class="new-container">
  <div class="title-container">
    <h2>Noticias</h2>
    <hr>
  </div>
  <div class="new-grid">
    <div class="left-side highlight">
      <img src="../../../../assets/imgs/new_img_highlight.jpg" alt="">
      <h2>El trabajo de la Dra. Sallie Permar que protege a las madres, los bebés del VIH y el CMV la coloca entre los
        'gigantes'</h2>
      <p>Cuando la Dra. Sallie Permar era estudiante de medicina en un hospital de la misión en la zona rural de Zambia
        a fines de la década de 1990, vio de primera mano cómo el virus del SIDA estaba devastando a la población.
      </p>
      <div class="new-date">
        <time><i>11 de Junio del 2021</i></time>
      </div>
    </div>



    <div class="right-side news-list">
      <article class="new-item">
        <h2>
          El Dalio Center for Health Justice en NewYork-Presbyterian anuncia una junta asesora externa
        </h2>
        <div class="new-date">
          <time> 25 de mayo de 2021</time>
        </div>
        <hr>
      </article>

      <article class="new-item">
        <h2>
          NewYork-Presbyterian Lawrence Hospital reconocido por su excelencia con la acreditación del Centro de dolor
          torácico del Colegio Estadounidense de Cardiología
        </h2>
        <div class="new-date">
          <time> 25 de mayo de 2021</time>
        </div>
        <hr>
      </article>

      <article class="new-item">
        <h2>
          Zapping nervioso con ultrasonido reduce la presión arterial resistente a los medicamentos
        </h2>
        <div class="new-date">
          <time> 25 de mayo de 2021</time>
        </div>
        <hr>
      </article>

      <article class="new-item">
        <h2>
          Dos subvenciones tienen como objetivo aumentar el acceso a la atención y los ensayos clínicos para pacientes
          de Queens y Brooklyn con cánceres de la sangre
        </h2>
        <div class="new-date">
          <time> <i>  25 de mayo de 2021</i></time>
        </div>
        <hr>
      </article>
    </div>
  </div>

</div>
