/* You can add global styles to this file, and also import other style files */
/* This is a tag that I need to override some of its properties */
@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-Black";
  src: url("assets/fonts/Lato-Black.ttf");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("assets/fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato-Light";
  src: url("assets/fonts/Lato-Light.ttf");
}

@font-face {
  font-family: "DancingScript";
  src: url("assets/fonts/DancingScript.ttf") format("opentype");
}

@font-face {
  font-family: "DancingScript-Regular";
  src: url("assets/fonts/static/DancingScript-Regular.ttf");
}

/* ----------------- */
#loader {
  gap: 1rem;
  position: absolute;
  top: 0;
  display: flex;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 99;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-weight: bold;
  align-items: center;
}

.mat-card-header-text {
  margin: 0 !important;
}

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #186CB2;
  --secondary-color: #f5f5f5;
  --subtitle-color: #666;
  --card-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  --max-width: 1360px;
  --border-radius: 5px;
  --screen-width: 320px;
  --screen-height: 560px;
  --header-bg-color: #25283d;
  --splash-bg-color: #186CB2;
  --main-padding: 2rem;
  --text-color: #343a40;
  --highlight-color: #6c757d;
}


app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.background-red {
  background-color: rgb(153, 50, 50);
  color: white;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* this is to avoid nav and footer's main */
main main {
  max-width: 1360px;
  margin: auto;
  padding: 3rem clamp(0.5rem, 2vw, 4rem);
}

/* this is to center progress-bar container */
.mat-tab-body-wrapper {
  display: flex;
  flex-basis: 100%;
  align-items: center;
}

mat-expansion-panel-header {
  height: fit-content !important;
  min-height: 3rem;
}

mat-expansion-panel-header .mat-content {
  align-items: center;
  margin: 1rem 0;
}

.form-search .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

.form-search .mat-form-field-flex {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

.form-search {
  background-color: white;
}

.page-bg {
  background-color: #fbfcfd;
}

.form-search button {
  border-radius: 0;
}

#menu-mobile {
  display: none;
}

@media only screen and (max-width: 850px) {
  #menu-principal {
    display: none;
  }

  #menu-mobile {
    background-color: #e0e0e0;
    display: block;
  }

  mat-expansion-panel-header .mat-content {
    flex-direction: column;
    align-items: flex-start;
  }


}

.TrengoOnlineStatus__iframe,
.TrengoWidgetPanel__iframe {
  z-index: 999 !important;
}