/* You can add global styles to this file, and also import other style files */
/* This is a tag that I need to override some of its properties */
.mat-card-header-text {
  margin: 0 !important;
}

/* ----------------- */

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #1f8fff;
  --max-width: 1360px;
  --screen-width: 320px;
  --screen-height: 560px;
  --header-bg-color: #25283d;
  --splash-bg-color: #1f8fff;
}

app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.background-red {
  background-color: rgb(153, 50, 50);
  color: white;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* this is to avoid nav and footer's main */
main main {
  max-width: 1360px;
  margin: auto;
  padding: 3rem clamp(0.5rem, 4vw, 6rem);
}
/* this is to center progress-bar container */
.mat-tab-body-wrapper {
  display: flex;
  flex-basis:100%;
  align-items: center;
}

.form-search .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

.form-search .mat-form-field-flex {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}
.form-search {
  background-color: white;
}
.form-search button {
  border-radius: 0;
  border-bottom: solid #767676 1px;
}

#menu-mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  #menu-principal {
    display: none;
  }
  .main {
    margin-top: 7rem !important;
  }
  #menu-mobile {
    background-color: #e0e0e0;
    display: block;
  }
}
