/* You can add global styles to this file, and also import other style files */
/* This is a tag that I need to override some of its properties */
.mat-card-header-text {
  margin: 0 !important;
}

/* ----------------- */

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #1f8fff;
  --max-width: 1360px;
}

app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
}
main {
  /* align-self: flex-start; */
}


code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.background-red {
  background-color: rgb(153, 50, 50);
  color: white;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-search .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

.form-search .mat-form-field-flex {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;

}
.form-search {
  background-color: white;
}
.form-search button {
  border-radius: 0;
  border-bottom: solid #767676 1px;
}
