/* You can add global styles to this file, and also import other style files */
/* This is a tag that I need to override some of its properties */
.mat-card-header-text {
  margin: 0 !important;
}



/* ----------------- */

*{
  box-sizing:  border-box;
}

:root {
  --primary-color: hsl(210, 100%, 56%);
}

app-root{
  min-height: 100vh;
      display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}
main{
  
  /* align-self: flex-start; */
}
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
