<main>

  <div class="ticket-container">
    <mat-icon class="task" matSuffix>event_available</mat-icon>
    <div class="header">
      <h1>Cita Confirmada</h1>
      <h5>{{citaDataResult.fecha_hora}}</h5>
    </div>
    <mat-divider></mat-divider>
    <div class="content">
        <p>Tu médico es <b>{{citaDataResult.medico_nombre_apellido}}</b></p>
      <p *ngIf="!isDependent"><b>Consultorio: </b>{{citaDataResult.consultorio}}</p>

       <p><b>Servicio: </b>{{citaDataResult.servicio}}</p>
      <p *ngIf="!isDependent"><b>Doc. Identidad: </b>{{citaDataResult.doc_identidad}}</p>
      <p><b>Paciente: </b>{{citaDataResult.paciente_nombre_apellido}}</p>
      <p *ngIf="isDependent"><b>Doc. Identidad tutor: </b>{{citaDataResult.doc_identidad_tutor}}</p>
      <p *ngIf="isDependent"><b>Tutor: </b>{{citaDataResult.tutor_nombre_apellido}}</p>
      <p><b>Número de contacto: </b>{{citaDataResult.contacto}}</p>
      <p><b>Seguro: </b>{{citaDataResult.seguro}}</p>
      <p><b>Diferencia: </b>RD${{citaDataResult.diferencia}}</p>
     </div>
    <mat-divider></mat-divider>
    <div class="footer">
      <div class="message">
        <ul>
            <li> Por favor llegar 30 minutos antes de su cita para dar inicio al proceso de facturación y recordar
              llevar su <span>documento de identidad</span> consigo el día de su cita.
            </li>
            <li> Si bien necesita cambiar la fecha de su cita ó los datos de su seguro puede ingresar <a
                href="">aquí</a>
              y digitar su código de verificación.</li>
            <li> No olvidar traer el canert de su seguro al momento de facturar en caso de ser asegurado.
            </li>
            <li> Si necesita ayuda con cualquier otra inquietud llame al 809-550-5491 opción 2.
            </li>
          </ul>
      </div>
      <p>Hemos enviado un correo de confirmación a: </p>
      <p><span style="color:rgb(10, 110, 241);">{{citaDataResult.correo}}</span></p>
    </div>

    <mat-card-actions>
      <button mat-button>Imprimir</button>
      <button [routerLink]="['/']" mat-button>Ir a inicio</button>
    </mat-card-actions>
  </div>

</main>
