<main>
  <div class="doctor-wrapper" *ngIf="!loading else load" [@inOutAnimation]>
    <a class="back" [routerLink]="['..']">
      <mat-icon matSuffix>chevron_left</mat-icon> Volver
    </a>

    <mat-card class="header-info">

      <mat-card-content>
        <div class="left-side">
          <img [src]="_medico.profilePhoto | noProfilePhoto" alt="Foto del médico">
          <div class="nombre">
            <h5>
              <span *ngIf="_medico.sexo == 'f' else maleAbr">
                Dra.
              </span>
              <ng-template #maleAbr>
                <span>Dr.</span>
              </ng-template>
              {{_medico.nombre+ " " +_medico.apellido}}
            </h5>
            <h6>{{_especialidades}}</h6>
          </div>
        </div>
        <div class="right-side">
          <button [routerLink]="['/crear-cita']" [queryParams]="{ medicoId: medicoId}" mat-flat-button color="primary">
            <span>Hacer cita</span>
            <mat-icon style="margin-left: 3px;" matSuffix>event</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="body-info">
      <mat-card-content>
        <section class="personal-info">
          <h5><img class="icon" src="../../../assets/icons/carpeta.png">Información personal</h5>
          <div class="item">
            <p>Teléfonos</p>
            <span *ngIf="_medico.telefono1">
              <p>
                <mat-icon matSuffix>phone_in_talk</mat-icon>
                {{_medico.telefono1}}
              </p>
            </span>
            <span *ngIf="_medico.telefono2">
              <p>
                <mat-icon matSuffix>phone_in_talk</mat-icon>
                {{_medico.telefono2}}
              </p>
            </span>
          </div>

          <div class="item">
            <p>Correo</p>
            <span *ngIf="_medico.correo">
              <p>
                <mat-icon matSuffix>email</mat-icon>
                {{_medico.correo}}
              </p>
            </span>
          </div>

          <div class="item">
            <p>Redes Sociales</p>
            <span *ngIf="_medico.url_facebook">
              <a [href]="_medico.url_facebook" target="_blank">
                <mat-icon matSuffix>facebook</mat-icon>
              </a>
            </span>
            <span *ngIf="_medico.url_twitter">
              <a [href]="_medico.url_twitter" target="_blank">
                <mat-icon svgIcon="twitter"></mat-icon>
              </a>
            </span>
            <span *ngIf="_medico.url_instagram">
              <a [href]="_medico.url_instagram" target="_blank">
                <mat-icon svgIcon="instagram"></mat-icon>

              </a>
            </span>
          </div>

          <div class="item">
            <span *ngIf="_medico.exequatur">
              <p class="cod">
                No. Exequatur: {{_medico.exequatur}}
              </p>
            </span>

            <span *ngIf="_medico.colegiatura">
              <p class="cod">
                No. Colegiatura: {{_medico.colegiatura}}
              </p>
            </span>
          </div>
        </section>

        <mat-divider class="insurance-divider-v vertical-divider" inset vertical style="height:100%; margin: 0;">
        </mat-divider>

        <section class="insurance">
          <mat-divider class="horizontal-divider" inset style="margin: 1rem 0;"></mat-divider>
          <h5><img class="icon" src="../../../assets/icons/credit-card.png">Aseguradoras</h5>
          <ul>
            <li *ngFor="let item of _medico.seguros">
              {{item.descrip}}
            </li>
          </ul>
        </section>

        <mat-divider class="vertical-divider schedule-divider-v" inset vertical style="height:100%; margin: 0;">
        </mat-divider>

        <section class="schedule">
          <mat-divider class="horizontal-divider schedule-divider-h" inset style="margin: 1rem 0;"></mat-divider>
          <h5><img class="icon" src="../../../assets/icons/calendario.png">Horarios</h5>
          <table>
            <tr *ngIf="_medico.horarios.Lunes">
              <td><span class="left-item">Lunes:

                </span>
                <span>
                  <span style="margin: 0 6px;" *ngFor="let item of _medico.horarios.Lunes">
                    {{item}}
                  </span></span>
              </td>
            </tr>
            <tr *ngIf="_medico.horarios.Martes">
              <td><span class="left-item">Martes:</span>
                <span>
                  <span style="margin: 0 6px;" *ngFor="let item of _medico.horarios.Martes">
                    {{item}}
                  </span></span>
              </td>
            </tr>
            <tr *ngIf="_medico.horarios.Miercoles">
              <td><span class="left-item">Miércoles:</span>
                <span>
                  <span style="margin: 0 6px;" *ngFor="let item of _medico.horarios.Miercoles">
                    {{item}}
                  </span>
                </span>
              </td>
            </tr>
            <tr *ngIf="_medico.horarios.Jueves">
              <td><span class="left-item">Jueves:</span>
                <span>
                  <span style="margin: 0 6px;" *ngFor="let item of _medico.horarios.Jueves">
                    {{item}}
                  </span>
                </span>
              </td>
            </tr>
            <tr *ngIf="_medico.horarios.Viernes">
              <td><span class="left-item">Viernes:</span>
                <span>
                  <span style="margin: 0 6px;" *ngFor="let item of _medico.horarios.Viernes">
                    {{item}}
                  </span>
                </span>
              </td>
            </tr>
            <tr *ngIf="_medico.horarios.Sabados">
              <td><span class="left-item">Sábados:</span>
                <span>
                  <span style="margin: 0 6px;" *ngFor="let item of _medico.horarios.Sabados">
                    {{item}}
                  </span>
                </span>
              </td>
            </tr>
            <tr *ngIf="_medico.horarios.Domingos">
              <td><span class="left-item">Domingos:</span>
                <span>
                  <span style="margin: 0 6px;" *ngFor="let item of _medico.horarios.Domingos">
                    {{item}}
                  </span>
                </span>
              </td>
            </tr>
          </table>
        </section>
      </mat-card-content>
    </mat-card>


  </div>

  <ng-template #load>
    <div class="progress-content">
      <mat-progress-spinner [mode]="mode">
      </mat-progress-spinner>
    </div>
  </ng-template>

</main>
