<main>

  <h2>Preguntas y respuestas</h2>

  <mat-divider style="margin-bottom:1rem;">
  </mat-divider>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header onclick="
      this.getElementsByTagName('h4')[0].classList.toggle('hightlight');
      this.parentNode.getElementsByTagName('mat-divider')[0].classList.toggle('hightlight');">
        <mat-panel-title>
          <h4>¿Lorem ipsum dolor sit amet consectetur, tempora fuga quia illum suscipit ?</h4>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-divider style="margin:0;" [inset]="true">
      </mat-divider>
      <p class="body-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
        potenti.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header onclick="
      this.getElementsByTagName('h4')[0].classList.toggle('hightlight');
      this.parentNode.getElementsByTagName('mat-divider')[0].classList.toggle('hightlight');">
        <mat-panel-title>
          <h4>¿Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum aliquid nisi officia? Quidem ?</h4>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-divider style="margin:0;" [inset]="true">
      </mat-divider>
      <p class="body-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
        potenti.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header onclick="
      this.getElementsByTagName('h4')[0].classList.toggle('hightlight');
      this.parentNode.getElementsByTagName('mat-divider')[0].classList.toggle('hightlight');">
        <mat-panel-title>
          <h4>¿Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum aliquid nisi officia? Quidem ?</h4>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-divider style="margin:0;" [inset]="true">
      </mat-divider>
      <p class="body-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
        potenti.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header onclick="
      this.getElementsByTagName('h4')[0].classList.toggle('hightlight');
      this.parentNode.getElementsByTagName('mat-divider')[0].classList.toggle('hightlight');">
        <mat-panel-title>
          <h4>¿Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum aliquid nisi officia? Quidem ?</h4>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-divider style="margin:0;" [inset]="true">
      </mat-divider>
      <p class="body-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
        potenti.</p>
    </mat-expansion-panel>

  </mat-accordion>
</main>
