

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align {
  margin-left: 8px;
}

mat-panel-title{
    flex-basis: unset;
}
mat-panel-title > h4 {
  margin: 16px 0;
}

.hightlight {
  color: var(--primary-color);
  border-top-color: #0195ff;
}

mat-expansion-panel-header
{
    height: fit-content;
}
 .mat-expansion-indicator::after {
  color: var(--primary-color);
}
