<div class="background">
  <div class="message-intro">
    <span class="title">CONTIGO</span>
    <span class="sub-title">siempre</span>
  </div>
</div>

<main>
  <div class="short-menu">
    <div class="short-menu-grid">
      <div [routerLink]="['/paciente-login']" class="item" style="--bg-color: 35%">
        <mat-icon svgIcon="login"></mat-icon>
        <p>INICIAR SECIÓN</p>
      </div>
      <div [routerLink]="['/contactos']" fragment='contactus' class="item" style="--bg-color: 45%">
        <mat-icon svgIcon="mail"></mat-icon>
        <p>CONTÁCTANOS</p>
      </div>
      <div [routerLink]="['/medicos']" class="item" style="--bg-color: 55%">
        <mat-icon svgIcon="medicals"></mat-icon>
        <p>BUSCAR MÉDICO</p>
      </div>
      <div [routerLink]="['/']" class="item" style="--bg-color: 65%">
        <mat-icon svgIcon="portfolio"></mat-icon>
        <p>OFERTAS LABORALES</p>
      </div>
    </div>
  </div>
  <app-new-home></app-new-home>
</main>

<div class="leftRightBlock">
  <div class="location-wrapper">
    <section class="content">
      <div class="content-wrapper">
        <div class="cmp cmp-title">
          <h2 class="location-title">
            <mat-icon class="gps-icon" matSuffix>room</mat-icon>
            Mire Nuestras Ubicaciones
          </h2>
        </div>
        <div class="contentblocktext">
          <div>
            <div>
              <div class="location-text">
                <p>Tenemos ubicaciones en todo el territorio nacional. <br> Encuentre una cerca de usted.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="callToAction">
          <button [routerLink]="['/ubicacion']" mat-flat-button color="primary">
            BUSCAR UBICACIONES
          </button>
        </div>
      </div>
    </section>
    <section class="feature">
      <div class="location-bg"></div>
    </section>
  </div>

</div>
<app-barner></app-barner>
