.nav {
  position: relative;
  width: 100%;
  z-index: 9999 !important;
  background: var(--header-bg-color);
  height: 5rem;
}

.nav__toggle {
  display: inline-block;
  position: absolute;
  padding: 0;
  z-index: 99999 !important;
  border: 0;
  background: transparent;
  outline: 0;
  right: 15px;
  top: 15px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.15s linear;
}

.nav__toggle:hover,
.nav__toggle:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

.nav__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: relative;
  z-index: 9999 !important;
  visibility: hidden;
}

.mobile-container-logo {
  display: flex;
  margin: auto;
  position: absolute;
  height: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding-left: clamp(0.7rem, 6vw, 2rem);
}

.mobile-main-logo {
  width: clamp(235px, 38vw, 260px);
}

.nav__item {
  list-style: none;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0, 0.995, 0.99, 1) 0.3s;
}

.nav__item:nth-child(1) {
  transform: translateY(-40px);
}

.nav__item:nth-child(2) {
  transform: translateY(-80px);
}

.nav__item:nth-child(3) {
  transform: translateY(-120px);
}

.nav__item:nth-child(4) {
  transform: translateY(-160px);
}

.nav__item:nth-child(5) {
  transform: translateY(-200px);
}

.nav__item:nth-child(6) {
  transform: translateY(-240px);
}

.nav__item:nth-child(7) {
  transform: translateY(-280px);
}

.nav__item:nth-child(8) {
  transform: translateY(-320px);
}

.nav__item:nth-child(9) {
  transform: translateY(-360px);
}

.nav__link {
  color: white;
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.25rem;
  text-decoration: none;
  padding: 1rem;
}

.nav__link:hover,
.nav__link:focus {
  outline: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.menuicon {
  display: block;
  cursor: pointer;
  color: white;
  transform: rotate(0deg);
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menuicon__bar,
.menuicon__circle {
  fill: none;
  stroke: currentColor;
  stroke-width: 3;
  stroke-linecap: round;
}

.menuicon__bar {
  transform: rotate(0deg);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-in-out;
}

.menuicon__circle {
  transition: stroke-dashoffset 0.3s linear 0.1s;
  stroke-dashoffset: 144.513262038;
  stroke-dasharray: 144.513262038;
}

.splash {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 1px;
  height: 1px;
}

.splash::after {
  content: "";
  display: block;
  position: fixed;
  border-radius: 50%;
  background-color: var(--splash-bg-color);
  top: -1060px;
  width: 2200px;
  height: 2200px;
  right: -1060px;
  transform: scale(0);
  transform-origin: 50% 50%;
  transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  will-change: transform;
}

.nav:target>.splash::after,
.nav--open>.splash::after {
  transform: scale(1);
}

.nav:target .menuicon,
.nav--open .menuicon {
  color: white;
  transform: rotate(180deg);
}

.nav:target .menuicon__circle,
.nav--open .menuicon__circle {
  stroke-dashoffset: 0;
}

.nav:target .menuicon__bar:nth-child(1),
.nav--open .menuicon__bar:nth-child(1),
.nav:target .menuicon__bar:nth-child(4),
.nav--open .menuicon__bar:nth-child(4) {
  opacity: 0;
}

.nav:target .menuicon__bar:nth-child(2),
.nav--open .menuicon__bar:nth-child(2) {
  transform: rotate(45deg);
}

.nav:target .menuicon__bar:nth-child(3),
.nav--open .menuicon__bar:nth-child(3) {
  transform: rotate(-45deg);
}

.nav:target .nav__menu,
.nav--open .nav__menu {
  visibility: visible;
}

.nav:target .nav__item,
.nav--open .nav__item {
  opacity: 1;
  transform: translateY(0);
}

body {
  background-color: #d7d7d7;
  font-family: "Roboto";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.viewport {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-color: white;
}

@media only screen and (max-width: 1000px) {
  #menu-mobile {
    height: 5rem;
    background-color: var(--header-bg-color);
    display: block;
  }
}

@media only screen and (min-width: 1001px) {
  #menu-mobile {
    display: none !important;
  }
}