
main {
  margin: auto;
  padding: 0;
  max-width: var(--max-width);
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 3px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.background-white mat-form-field {
  background: white;
}

.background-white {
}

.search-wrapper {
  padding-top: 2rem;
  font-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding-left: clamp(1rem, 4vw, 5rem);
  padding-right: clamp(1rem, 4vw, 5rem);
  height: 410px;
  background-size: cover;
  background-position: right;
  background-image: url("../../../assets/imgs/search-background1.jpg");
}

  .search-wrapper .title h1 {
    font-size: clamp(2rem, 10vw, 3rem);
    font-weight: 500;
    margin: 1rem 0rem 4rem 0rem;
    text-shadow: 0px 0px 4px rgb(0 0 0 / 31%);
    color: white;
  }

  .search-wrapper .title a {
    text-shadow: 0px 0px 4px rgb(0 0 0 / 31%);
    text-decoration: none;
    color: white !important;
  }

  .search-wrapper h3 {
    text-shadow: 0px 0px 4px rgb(0 0 0 / 31%);
    font-weight: 400;
    font-size: clamp(1.5rem, 10vw, 2rem);
    padding: 0.5rem;
    padding-bottom: 0.1rem;
    background: rgba(0 0 0 / 0.3);
    color: white;
  }

  .search-wrapper h5 {
    text-shadow: 0px 0px 4px rgb(0 0 0 / 31%);
    font-weight: 300;
    font-size: clamp(1.2rem, 2vw, 1.4rem);
    padding: 0.5rem;
    padding-top: 0.1rem;
    background: rgba(0 0 0 / 0.3);
    color: white;
  }

.form-search {
  background: transparent;
  display: flex;
}

  .form-search button {
    border-radius: 0;
  }

.content-search {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  width: fit-content;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 1rem;
}

.doctors-wrapper {
  margin-bottom: 1rem;
}

  .doctors-wrapper .help {
    background: #25283d;
    padding: 2rem 1rem;
    display: flex;
    align-content: stretch;
    justify-content: space-around;
    text-align: center;
    gap: 1rem;
    align-items: center;
    color: white;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .doctors-wrapper > h2 {
    text-align: center;
    color: #262626;
    margin: 5rem auto 0.5rem auto;
  }

  .doctors-wrapper .no-content {
    color: #262626;
    padding: clamp(6rem, 19vh, 8rem);
  }

    .doctors-wrapper .no-content h5 {
      font-weight: 100;
      font-size: 1.2rem;
      text-align: center;
    }

.doctor-cards-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.progress-content {
  padding: clamp(1rem, 18vh, 10rem) 0px !important;
}

mat-progress-spinner {
  margin: auto;
}

@media screen and (max-width: 760px) {
  .search-wrapper {
    height: auto;
    padding-bottom: clamp(1rem, 4vw, 5rem);
  }

  .background-white {
    display: flex;
    gap: 1rem;
    width: 100%;
    flex-direction: column;
  }

  .content-search {
    width: 100%;
  }

  .form-search {
    display: flex;
    gap: 1rem;
    width: 100%;
    flex-direction: column;
  }

    .form-search button {
      height: 50px;
    }

  .doctor-cards-list {
    display: grid;
    grid-template-columns: auto;
  }
}
