<!-- 
<div class="background-content">
<div class="background-linear-color"></div> -->
<main>
  
  <section class="search-wrapper">
    <div class="title">
      <a href="">&#60; INICIO</a>
      <h1>Directorio Médico</h1>
    </div>

    <h3>Encuentra tu especialista y haz tu cita</h3>
    <h5>Cientos de médicos profesionales están aquí para ayudarte.</h5>

    <div class="content-search">
      <form [formGroup]="searchFormGroup" (ngSubmit)="Search()" class="form-search">
        <div class="background-white">
          <mat-form-field class="" appearance="legacy">
            <mat-label>Nombre</mat-label>
            <input formControlName="nameControl" matInput placeholder="Nombre">
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>Especialidad</mat-label>
            <mat-select formControlName="specialityControl">
              <mat-option [value]="0">Todas</mat-option>
              <mat-option *ngFor="let especialidad of especialidades$ | async" [value]="especialidad.id">
                {{especialidad.descrip}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>Seguro</mat-label>
            <mat-select formControlName="insuranceControl">
              <mat-option [value]="0">Todos</mat-option>
              <mat-option *ngFor="let seguro of seguros$ | async" [value]="seguro.id">
                {{seguro.descrip}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button type="submit" [disabled]="isSent" mat-flat-button color="primary">
          <mat-icon matSuffix>search</mat-icon>
        </button>
      </form>
    </div>
  </section>


  <section class="doctors-wrapper">
    <div class="help">
      <div>
        <p>
          Total de médicos encontrados: {{doctorsCount}}
        </p>
      </div>
      <div>
        <p>
          ¿Necesita ayuda? Llame al 1-809-555-8811
        </p>
      </div>

    </div>

    <h2>Lista de médicos</h2>
    <mat-divider></mat-divider>

    <div class="list-wrapper" *ngIf="isSent else DoctorsLst">
      <div class="progress-content" *ngIf="isSent" [@inOutAnimation]>
        <mat-progress-spinner [mode]="mode">
        </mat-progress-spinner>
      </div>
    </div>

    <ng-template #DoctorsLst>
      <div class="doctors-list" *ngIf="!showNoContent else NoContent">
        <div class="doctor-cards-list">
          <span *ngFor="let doctor of splicedData">
            <app-doctor-card [doctorData]="doctor"></app-doctor-card>
          </span>
        
        </div>
          <mat-paginator (page)="pageChangeEvent($event)" [length]="pageLength" [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions">
          </mat-paginator>
      </div>
    </ng-template>

    <ng-template #NoContent>
      <div class="no-content">
        <h5>NO SE ENCONTRÓ MÉDICO</h5>
      </div>
    </ng-template>
  </section>
</main>
