<div class="background">
  <div class="message-intro">
    <span class="title">CONTIGO</span>
    <span class="sub-title">siempre</span>
  </div>
</div>

<main>
  <div class="short-menu">
    <div class="short-menu-grid">
      <div [routerLink]="['/paciente-login']" class="item" style="--bg-color: 35%">
        <mat-icon svgIcon="login"></mat-icon>
        <p>INICIAR SECIÓN</p>
      </div>
      <div [routerLink]="['/contactos']" fragment='contactus' class="item" style="--bg-color: 45%">
        <mat-icon svgIcon="mail"></mat-icon>
        <p>CONTÁCTANOS</p>
      </div>
      <div [routerLink]="['/medicos']" class="item" style="--bg-color: 55%">
        <mat-icon svgIcon="medicals"></mat-icon>
        <p>BUSCAR MÉDICO</p>
      </div>
      <div [routerLink]="['/']" class="item" style="--bg-color: 65%">
        <mat-icon svgIcon="portfolio"></mat-icon>
        <p>OFERTAS LABORALES</p>
      </div>
    </div>
  </div>

</main>

<div class="about">
  <div class="about-content">
    
    <h3>
      Bienvenido a Hospital Salvador
    </h3>

    <div class="info-1">
      <p>
        Hospital Salvador es una organización benéfica registrada en virtud de las Leyes de organizaciones benéficas
        (organización benéfica registrada n.º 20000394) y se administra y administra de acuerdo con una constitución
        hospitalaria aprobada por la Autoridad Reguladora de Organizaciones Benéficas. La Constitución del Hospital
        vigente fue aprobada en 2023. </p>
      </div>
      
      <img src="../../../assets/imgs/hospital_front.jpg" alt="Imagen del Hospital" />
  </div>
  <div class="about-bg"></div>
</div>


<div class="question-barner">
  <div class="question-content">
    <h6> ¿Tiene alguna pregunta? </h6>

    <p>
      Para consultas de pacientes, comuníquese con nuestra oficina de Servicios Globales por teléfono ( <a
        class="highlight-text" href="tel: 18095558877">+ 1-809-555-7788</a>) o por correo electrónico <a
        class="highlight-text" href="mailto: servicios@CentromedicoCliente.com">servicios@CentromedicoCliente.com</a>.
    </p>
    <p>
      Su seguridad es importante para nosotros. Obtenga más información sobre nuestros procedimientos de seguridad
      adicionales.
    </p>
  </div>
  <img src="../../../assets/icons/animated/question-mark.gif" />
</div>

<div class="leftRightBlock">
  <div class="location-wrapper">
    <section class="location-content">
      <div class="content-wrapper">
        <div class="cmp cmp-title">
          <h2 class="location-title">
            <mat-icon class="gps-icon" matSuffix>room</mat-icon>
            Mire Nuestras Ubicaciones
          </h2>
        </div>
        <div class="contentblocktext">
          <div>
            <div>
              <div class="location-text">
                <p>Tenemos ubicaciones en todo el territorio nacional. <br> Encuentre una cerca de usted.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="callToAction">
          <button [routerLink]="['/ubicacion']" mat-flat-button color="primary">
            BUSCAR UBICACIONES
          </button>
        </div>
      </div>
    </section>
    <section class="feature">
      <div class="location-bg"></div>
    </section>
  </div>
</div>
<app-barner></app-barner>
