<div>
  <div class="background">
    <div class="message-container">
      <div class="badge" data-aos="fade-right">Nuestra historia</div>
      <h1 data-aos="fade-right">Salud avanzada con bienestar asequible</h1>
      <div>
        <p class="gray-paragraph" data-aos="fade-right">Tu camino para iniciar un salud mejor es aquí con atención
          personalizada para conocer
          tus
          necesidades únicas</p>
      </div>
      <div class="action-buttons" data-aos="fade-up">
        <button mat-flat-button color="primary">Obtenlo Hoy</button>
        <button mat-stroked-button>Aprender Más</button>
      </div>
    </div>
    <div class="message-intro">
      <span class="title">CONTIGO</span>
      <span class="sub-title">siempre</span>
    </div>
  </div>


  <div class="about" data-aos="fade-up" data-aos-duration="1000">
    <div class="badge">Acerca de Salvador</div>
    <h1>Cuidado compasivo para ti y tu familiador nació con la misión de hacer la salud accesible para todos, conectando
      el asesoramiento médico
      experto con la práctica diaria, impulsados por una pasión por el bienestar y el deseo de mejorar vidas.
    </h1>
  </div>

  <!-- ------------- -->
  <section class="our-values-section" data-aos="fade-up">
    <div class="badge">Nuestro Valores</div>

    <div class="values-grid">
      <!-- Card 1 -->
      <div class="value-card">
        <div class="value-image">
          <img src="../../../assets/imgs/value-1.png" alt="Integridad">
        </div>
        <div class="value-content">
          <h5 class="value-subtitle">Honestidad</h5>
          <h3 class="value-title">Integridad</h3>
          <p class="gray-paragraph">Nuestro compromiso inquebrantable con la honestidad y los sólidos principios
            morales guía cada acción que tomamos, garantizando transparencia, confianza y comportamiento ético en todas
            nuestras interacciones y decisiones.
          </p>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="value-card">
        <div class="value-image">
          <img src="../../../assets/imgs/value-2.png" alt="Comunidad">
        </div>
        <div class="value-content">
          <h5 class="value-subtitle">Apoyo Inclusivo</h5>
          <h3 class="value-title">Comunidad</h3>
          <p class="gray-paragraph">Nos dedicamos a construir un entorno de apoyo e inclusión donde todos se sientan
            valorados y respetados, fomentando un sentido de pertenencia y apoyo mutuo que fortalezca nuestro bienestar
            colectivo.
          </p>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="value-card">
        <div class="value-image">
          <img src="../../../assets/imgs/value-3.png" alt="Compromiso">
        </div>
        <div class="value-content">
          <h5 class="value-subtitle">Empatía en Acción</h5>
          <h3 class="value-title">Compromiso</h3>
          <p class="gray-paragraph">Nos esforzamos por comprender las necesidades individuales de cada persona,
            brindando
            un apoyo genuino y soluciones personalizadas que promuevan el bienestar físico y emocional.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- ------Doctores------- -->

  <div class="doctores-container" data-aos="fade-up">
    <div class="badge">Nuestro Equipo</div>
    <h2 class="section-title">Conoce a Nuestros Expertos</h2>

    <p class="gray-paragraph">Un equipo dedicado de directores médicos, nutricionistas, entrenadores de estilo de vida y
      otros expertos comprometidos con su salud y bienestar.</p>

    <div class="cards-container">
      <!-- ------ -->
      <div class="card-doctor">
        <img
          src="https://media.istockphoto.com/id/1149511236/photo/you-wont-need-a-second-opinion-with-her-expertise.jpg?s=612x612&w=0&k=20&c=C1EDhKdnngyggavKzcJST0kFaxapsxfFPq9eHeJIgKM=	"
          alt="">
        <h5 class="name-doctor">Paula Suarez Rosario</h5>
        <h6 class="highlight">Doctor</h6>
      </div>

      <!-- ------ -->
      <div class="card-doctor">
        <img
          src="https://img.freepik.com/premium-photo/portrait-black-man-doctor-healthcare-career-professional-service-smile-hospital-job-mindset-face-headshot-young-medical-person-cardiologist-with-leadership-happy-opportunity_590464-158208.jpg"
          alt="">
        <h5 class="name-doctor">Emmanuel Sanchez Rosario</h5>
        <h6 class="highlight">Doctor</h6>
      </div>
      <!-- ------ -->
      <div class="card-doctor">
        <img
          src="https://media.istockphoto.com/id/1327024466/photo/portrait-of-male-doctor-in-white-coat-and-stethoscope-standing-in-clinic-hall.jpg?s=612x612&w=0&k=20&c=49wqOwwuonk9f8NACL7M_5RosqQPFwJ8-dpmeo9AvQw="
          alt="">
        <h5 class="name-doctor">Mario Almanza Valdez</h5>
        <h6 class="highlight">Doctor</h6>
      </div>
      <!-- ------ -->
      <div class="card-doctor">
        <img src="https://img.freepik.com/foto-gratis/medico-varon-alegre-retrato-bata-blanca_53876-105121.jpg" alt="">
        <h5 class="name-doctor">José Rodriguez Sarmientos</h5>
        <h6 class="highlight">Doctor</h6>
      </div>
      <!-- ------ -->
      <div class="card-doctor">
        <img
          src="https://media.istockphoto.com/id/92347250/photo/portrait-of-a-doctor.jpg?s=612x612&w=0&k=20&c=yKBhDy7ch065QV8mE4ocec8n9uec9VmBDmT137ZjHFo="
          alt="">
        <h5 class="name-doctor">Miguel De La Cruz Mendieta</h5>
        <h6 class="highlight">Doctor</h6>
      </div>
      <!-- ------ -->
      <div class="card-doctor">
        <img
          src="https://media.istockphoto.com/id/1303660287/photo/when-we-start-to-smile-we-start-to-heal.jpg?s=612x612&w=0&k=20&c=opLN2IReuxQPMzk1h-C_rsAQGmtoO1KSQ823q-3FTh4="
          alt="">
        <h5 class="name-doctor">Sandra Espiritud Santo</h5>
        <h6 class="highlight">Doctor</h6>
      </div>
      <!-- ------ -->
      <div class="card-doctor">
        <img src="https://img.freepik.com/foto-gratis/doctora-hospital-estetoscopio_23-2148827774.jpg" alt="">
        <h5 class="name-doctor">Claudia Martinez Mora</h5>
        <h6 class="highlight">Doctor</h6>
      </div>

      <!-- ------ -->
    </div>

    <div class="doctor-recomendation-container">
      <div class="left-content">
        <h2 data-aos="fade-right" class="recomendation">“Una dieta equilibrada, rica en alimentos naturales, es
          fundamental para mantener una
          buena salud y
          bienestar,
          además de ayudar a prevenir enfermedades crónicas.”</h2>
        <div data-aos="fade-right" class="details">
          <p class="name">Mario Beltré</p>
          <p class="expertise gray-paragraph">Nutricionita Experto</p>
        </div>
      </div>
      <div data-aos="fade-left" class="right-content">
        <img src="../../../assets/imgs/experto-recomendacion.png" alt="Imagen de doctor">
      </div>
    </div>

  </div>


  <div class="preguntas-respuestas-container" data-aos="fade-up">
    <div class="sub-container-up">

      <div class="badge">Para Tus Preguntas</div>

    </div>
    <div class="sub-container-down">
      <div class="left-content">
        <h1 class="section-title" style="text-align: left;">Preguntas y Respuestas Frecuentes</h1>
      </div>

      <div class="right-content">

        <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header onclick="
      this.getElementsByTagName('h4')[0].classList.toggle('hightlight');
      this.parentNode.getElementsByTagName('mat-divider')[0].classList.toggle('hightlight'); 
      ">
              <mat-panel-title>
                <h4>¿Qué es Salvador?</h4>
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider style="margin:0;" [inset]="true">
            </mat-divider>
            <p class="body-2 gray-paragraph">Hospital Salvador es un centro médico moderno y de vanguardia
              dedicado a ofrecer servicios de
              salud integrales con calidad, calidez y compromiso. Nuestra misión es brindar atención médica accesible y
              personalizada, apoyada por tecnología avanzada y un equipo de profesionales altamente capacitados en
              diversas
              especialidades.</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header onclick="
      this.getElementsByTagName('h4')[0].classList.toggle('hightlight');
      this.parentNode.getElementsByTagName('mat-divider')[0].classList.toggle('hightlight');">
              <mat-panel-title>
                <h4>¿Cómo puedo accesar a los servicios del hospital?</h4>
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider style="margin:0;" [inset]="true">
            </mat-divider>
            <p class="body-2 gray-paragraph">En Salvador, no solo somos un hospital; somos una comunidad enfocada en
              brindar atención
              integral. Lo que nos diferencia es nuestra combinación única de tecnología avanzada, cuidado personalizado
              y
              un enfoque holístico en el bienestar de nuestros pacientes. Nuestro compromiso es garantizar que cada
              persona
              reciba no solo tratamiento médico, sino también apoyo emocional y educativo para lograr un estilo de vida
              saludable y sostenible.</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header onclick="
      this.getElementsByTagName('h4')[0].classList.toggle('hightlight');
      this.parentNode.getElementsByTagName('mat-divider')[0].classList.toggle('hightlight');">
              <mat-panel-title>
                <h4>¿Quienes son los expertos detrás del hospital Salvador?</h4>
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider style="margin:0;" [inset]="true">
            </mat-divider>
            <p class="body-2 gray-paragraph">El hospital Salvador está respaldado por un equipo multidisciplinario de
              expertos reconocidos
              a nivel nacional e internacional. Contamos con más de 150 especialistas, que incluyen médicos, cirujanos,
              terapeutas, psicólogos, nutricionistas y tecnólogos médicos, cada uno con un mínimo de 10 años de
              experiencia
              en sus campos. Entre ellos se destacan la Dra. Carolina Méndez, líder en cirugía robótica; el Dr. Juan
              Ortega,
              pionero en investigaciones cardiovasculares; y la Dra. Ana Pérez, especialista en salud mental y bienestar
              holístico. Nuestro equipo se mantiene en constante actualización participando en congresos y desarrollando
              investigaciones para ofrecer las soluciones más innovadoras.</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header onclick="
      this.getElementsByTagName('h4')[0].classList.toggle('hightlight');
      this.parentNode.getElementsByTagName('mat-divider')[0].classList.toggle('hightlight');">
              <mat-panel-title>
                <h4>¿Qué hace Salvador diferente de otros plataformas de bienestar?</h4>
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider style="margin:0;" [inset]="true">
            </mat-divider>
            <p class="body-2 gray-paragraph">En Salvador, no solo somos un hospital; somos una comunidad enfocada en
              brindar atención
              integral. Lo que nos diferencia es nuestra combinación única de tecnología avanzada, cuidado personalizado
              y
              un enfoque holístico en el bienestar de nuestros pacientes. Nuestro compromiso es garantizar que cada
              persona
              reciba no solo tratamiento médico, sino también apoyo emocional y educativo para lograr un estilo de vida
              saludable y sostenible. Además, contamos con una plataforma digital intuitiva que permite a los pacientes
              monitorear su salud, acceder a consultas virtuales y recibir recomendaciones personalizadas basadas en
              inteligencia artificial.</p>
          </mat-expansion-panel>

        </mat-accordion>
      </div>


    </div>

  </div>

  <!-- ------------- -->

  <div class="leftRightBlock">
    <div class="location-wrapper">
      <section class="location-content">
        <div data-aos="fade-left" class="content-wrapper">
          <div class="cmp cmp-title">
            <h2 class="location-title">
              <mat-icon class="gps-icon" matSuffix>room</mat-icon>
              Ubicaciones
            </h2>
          </div>
          <div class="contentblocktext">
            <div>
              <div>
                <div class="location-text">
                  <p>Tenemos ubicaciones en todo el territorio nacional. <br> Encuentre una cerca de usted.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="callToAction">
            <button [routerLink]="['/ubicacion']" mat-flat-button color="primary">
              Ver Ubicaciones
            </button>
          </div>
        </div>
      </section>
      <section data-aos="fade-right" class="feature">
        <div class="location-bg"></div>
      </section>
    </div>
  </div>
  <app-barner data-aos="fade-down"></app-barner>
</div>