/* .home-container {
  padding: 3rem clamp(0.5rem, 2vw, 4rem);
  max-width: 1600px;
  margin: auto;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

* {
  color: rgb(40, 40, 40);
}

.gray-paragraph {
  margin-top: 0;
  color: gray;

}

.background {
  margin: auto;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
  max-width: 1580px;
  display: flex;
  height: clamp(150px, 40vw, 500px);
  position: relative;
  flex-direction: column;
  justify-content: center;
  background-image: url(../../../assets/imgs/home.jpg);
  margin-bottom: 1rem;
}

.background img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  max-width: 1920px;
}

.message-container {
  padding: 2rem;
  margin: 2rem;
  background-color: white;
  display: flex;
  flex-flow: column;
  max-width: 30rem;
  border-radius: 5px;
}

.message-container>h1 {
  font-size: 3rem;
  font-weight: 400;
  color: rgb(40, 40, 40);
}


.badge {
  border-radius: 2px;
  border: solid 2px rgb(193, 193, 193);
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  width: fit-content;

}

.action-buttons {
  display: flex;
  gap: 1.5rem;
}



.message-intro {
  display: none;
}

.title {
  font-family: "Lato", sans-serif;
  font-size: clamp(2rem, 10vw, 12rem);
  font-weight: 800;
  color: white;
  display: inline-block;
  text-size-adjust: 100%;
  transform: translateY(18%);
}

.sub-title {
  text-size-adjust: 100%;
  font-family: "Dancing Script", serif;
  position: relative;
  display: inline-block;
  color: hsl(205, 100%, 18%);
  font-size: clamp(1.5rem, 7vw, 4rem);
  transform: translate(-64%, 74%);
}

.short-menu {
  width: 100%;
  display: flex;
  justify-content: center;
}

.short-menu .short-menu-grid {
  text-align: center;
  width: 100%;
  gap: 1rem;
  display: grid;
  justify-content: center;
  align-items: stretch;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-content: center;
  margin: 4rem 0rem;
}

.short-menu .short-menu-grid>img {
  width: 100%;
  grid-row-start: 1;
  grid-row-end: 3;
}

.item {
  padding: 20px 10px;
  width: 100%;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 400ms ease;
  cursor: pointer;
  box-shadow: rgb(13 12 13 / 10%) 0 0 3px 0px;
  background-color: hsl(0deg 0% 97%);
}

.item:hover {
  background-color: hsl(210, 100%, var(--bg-color));
}

.item:hover mat-icon {
  fill: white;
}

.item:hover p {
  color: whitesmoke;
  font-weight: 400;
}

.item mat-icon {
  width: clamp(40px, 5vw, 75px);
  height: 70px;
  fill: var(--primary-color);
}

.item p {
  margin: 1rem 0 0 0;
  color: rgb(53, 53, 53);
  font-weight: 200;
  font-size: 17px;
}

.about {
  margin: 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.about h1 {
  font-size: clamp(1.3rem, 3vw, 2rem);
  color: rgb(40, 40, 40);
  font-weight: 400;
  margin: 0 2rem;
  text-align: center;
  margin-top: 1rem;
  max-width: 1060px;

}

.info-1 {
  overflow: auto;
}


.question-barner p {
  display: inline-block;
  font-weight: 300;
}

.question-barner img {
  width: 100px;
}

.question-barner h6 {
  font-size: x-large;
  color: #222222;
  font-weight: 500;
}

.highlight-text {
  font-style: none;
  color: var(--primary-color);
}

.question-barner .question-content {
  max-width: 41rem;
}

*/ .our-values-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-values {
  margin: 6rem 20px 0rem 20px;
  max-width: 1580px;
}

.our-values .value-container {
  display: flex;
  gap: 9.9%;
}

.our-values h1 {
  font-weight: 400;
  color: rgb(40, 40, 40);
}

.our-values .value-left-item {
  border-top: solid 2px rgb(193, 193, 193);
  width: 50%;
}

.our-values .value-right-item {
  max-width: 400px;
  width: 40%;
}

.our-values .value-right-item h5 {
  font-weight: 200;
}

.our-values .value-right-item>img {
  max-width: 400px;
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-radius: 5px;
}


.doctores-container {
  padding: 4rem 20px 0rem 20px;
  background-color: #F6FBFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}

.doctores-container .gray-paragraph {
  text-align: center;
  max-width: 45rem;
}

.doctores-container .cards-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 6rem;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: center;
  gap: 1rem;
  max-width: 1300px;

}

.cards-container .card-doctor {
  max-width: 300px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 3px;
  border: solid rgb(207, 207, 207) 1px;
  padding: 12px 1rem;
  min-width: 258px;
}

.card-doctor * {
  margin: 3px 0;
}

.card-doctor img {
  max-width: 5rem;
  object-fit: cover;
  height: 5rem;
  border-radius: 100%;
}

.name-doctor {
  font-size: 1rem;
  font-weight: 600;
}

.highlight {
  font-weight: 500;
  font-size: 13px;
  color: var(--primary-color);
}

.doctores-container>h1 {
  font-weight: 400;

}

.doctor-recomendation-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  height: fit-content;
  max-width: 1580px;

}


.doctor-recomendation-container .left-content {
  width: 65%;
  margin: 0 0 1rem 4rem;
  text-align: left;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-content>.recomendation {
  font-size: 2rem;
  font-weight: 400;
}

.left-content .details {
  text-align: left;
}

.left-content .details .name {

  font-weight: 600;
  margin: 0;
}

.details .expertise {
  font-size: 10px;
  font-weight: 400;
  display: inline;

}

.doctor-recomendation-container .right-content {
  width: 35%;
}

.right-content img {
  width: 100%;

}



.preguntas-respuestas-container {
  margin-top: 6rem;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
}

.preguntas-respuestas-container .left-content {
  width: 40%;
}


.preguntas-respuestas-container .left-content>h1 {
  font-weight: 400;
  font-size: clamp(1.4rem, 7vw, 2rem);
}

.preguntas-respuestas-container .right-content {
  width: 60%;

}




.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align {
  margin-left: 8px;
}

mat-panel-title {
  flex-basis: unset;
}

mat-panel-title>h4 {
  margin: 13px 0;
  font-size: clamp(15px, 4vw, 1.1rem);
}

.hightlight {
  color: var(--primary-color);
  border-top-color: #0195ff;
}

mat-expansion-panel-header {
  height: fit-content;
}

.body-2 {
  margin: 1rem 0;
  font-size: clamp(13px, 4vw, 1.1rem);

}

.mat-expansion-indicator::after {
  color: var(--primary-color);
}



.location-bg {
  width: 100%;
  height: 250px;
  background-position: left center;
  background-size: cover;
  background-image: url(../../../assets/imgs/location-search.jpg);
}

.location-wrapper {
  margin: 5rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  align-content: center;

  background: #F7F7F7;
}

.location-content {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.content-wrapper {
  padding: 0 clamp(0.5rem, 4vw, 6rem);
}

.location-text p {
  margin-top: 0;
}

.gps-icon {
  height: 3rem;
  width: 3rem;
  font-size: 3rem;
  margin: 5px;
  color: var(--primary-color);
}

.location-title {
  color: var(--primary-color);
  font-weight: 400;
  display: flex;
  align-items: center;
  margin: 0;
  font-size: clamp(1.2rem, 5vw, 1.5rem);
}

.feature {
  width: 100%;
  height: 100%;
}

app-barner {
  position: relative;
  top: 60px;
}

@media screen and (max-width: 500px) {
  .background img {
    object-fit: cover;
    min-height: 300px;
  }
}

@media screen and (max-width: 680px) {

  .question-barner {
    flex-direction: column;
  }

  .location-bg {
    background-image: url(../../../assets/imgs/location-search-mobile.jpg);
    height: 150px;
    background-position: center;
  }

  .content-wrapper {
    text-align: center;
    padding: 1rem clamp(0.5rem, 4vw, 6rem);
  }

  .location-wrapper {
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .location-content {
    order: 2;
    justify-content: center;
  }
}


@media screen and (max-width: 880px) {


  .short-menu .short-menu-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 880px) {

  .message-container {
    transform: scale(0.7);
  }

  .preguntas-respuestas-container .left-content,
  .preguntas-respuestas-container .right-content {
    width: 100%;
  }

  .our-values .value-container {
    display: flex;
    flex-direction: column;
    gap: 12%;
  }

  .our-values .value-left-item {
    width: 100%;
  }

  .our-values .value-right-item {
    width: 100%;
  }

}

@media screen and (max-width: 1040px) {

  .about-content {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin: auto;
    color: rgb(49, 49, 49);
  }

  .about p {
    text-align: center;
  }

  .about h3 {
    text-align: center;
  }

  .about-content img {
    width: 100%;
    max-width: 600px;
  }

  .doctor-recomendation-container {
    flex-direction: column;
    height: fit-content;
    align-items: center;
  }

  .doctor-recomendation-container .left-content {
    order: 2;
    text-align: center;

  }

  .left-content .details {
    text-align: center;
  }

  .doctor-recomendation-container .left-content {
    margin: 0;
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
  }


  .doctor-recomendation-container .right-content {
    width: 100%;
  }

  .doctor-recomendation-container .right-content img {
    max-width: 20rem;
  }

  .doctores-container .recomendation {
    font-size: clamp(1.2rem, 3vw, 1.5rem);

  }

  .doctores-container .right-content {
    order: 1;
  }

  .preguntas-respuestas-container {
    flex-direction: column;
    align-items: center;
  }

  .preguntas-respuestas-container .left-content {

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .preguntas-respuestas-container .left-content * {
    text-align: center;
  }
}

@media screen and (max-width: 1164px) {

  .message-container {
    transform: scale(0.9);
  }

}


@media screen and (max-width: 1000px) {

  .message-container {
    transform: scale(0.8);
  }

}


@media screen and (max-width: 900px) {

  .message-container {
    transform: scale(0.75);
  }

}

@media screen and (max-width: 800px) {

  .message-container {
    display: none;
  }

  .background {
    justify-content: end;

  }

  .message-intro {
    display: flex;
    padding-left: clamp(0.3rem, 9vw, 5rem);
  }

}
