@model Centromedico.Database.DbModels.horarios_medicos

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>horarios_medicos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="medicosID" class="control-label"></label>
                <select asp-for="medicosID" class ="form-control" asp-items="ViewBag.medicosID"></select>
            </div>
            <div class="form-group">
                <label asp-for="tiempo_cita" class="control-label"></label>
                <input asp-for="tiempo_cita" class="form-control" />
                <span asp-validation-for="tiempo_cita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="monday_from" class="control-label"></label>
                <input asp-for="monday_from" class="form-control" />
                <span asp-validation-for="monday_from" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="monday_until" class="control-label"></label>
                <input asp-for="monday_until" class="form-control" />
                <span asp-validation-for="monday_until" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tuesday_from" class="control-label"></label>
                <input asp-for="tuesday_from" class="form-control" />
                <span asp-validation-for="tuesday_from" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tuesday_until" class="control-label"></label>
                <input asp-for="tuesday_until" class="form-control" />
                <span asp-validation-for="tuesday_until" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="wednesday_from" class="control-label"></label>
                <input asp-for="wednesday_from" class="form-control" />
                <span asp-validation-for="wednesday_from" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="wednesday_until" class="control-label"></label>
                <input asp-for="wednesday_until" class="form-control" />
                <span asp-validation-for="wednesday_until" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="thursday_from" class="control-label"></label>
                <input asp-for="thursday_from" class="form-control" />
                <span asp-validation-for="thursday_from" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="thursday_until" class="control-label"></label>
                <input asp-for="thursday_until" class="form-control" />
                <span asp-validation-for="thursday_until" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="friday_from" class="control-label"></label>
                <input asp-for="friday_from" class="form-control" />
                <span asp-validation-for="friday_from" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="friday_until" class="control-label"></label>
                <input asp-for="friday_until" class="form-control" />
                <span asp-validation-for="friday_until" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="saturday_from" class="control-label"></label>
                <input asp-for="saturday_from" class="form-control" />
                <span asp-validation-for="saturday_from" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="saturday_until" class="control-label"></label>
                <input asp-for="saturday_until" class="form-control" />
                <span asp-validation-for="saturday_until" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sunday_from" class="control-label"></label>
                <input asp-for="sunday_from" class="form-control" />
                <span asp-validation-for="sunday_from" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sunday_until" class="control-label"></label>
                <input asp-for="sunday_until" class="form-control" />
                <span asp-validation-for="sunday_until" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="free_time_from" class="control-label"></label>
                <input asp-for="free_time_from" class="form-control" />
                <span asp-validation-for="free_time_from" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="free_time_until" class="control-label"></label>
                <input asp-for="free_time_until" class="form-control" />
                <span asp-validation-for="free_time_until" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
