<mat-card _ngcontent-c3="" class="employee-row" fxflex="1 1 inherit" ng-reflect-flex="1 1 inherit" id="emp-directory-results_r0" style="flex: 1 1 100%; box-sizing: border-box; max-width: inherit;">
    <div _ngcontent-c3="" class="header">
      <h3 _ngcontent-c3="" class="emp-fullname" id="emp-directory-results_r0_fullname">ClientAdmin24531</h3>
      <div _ngcontent-c3="" class="status active"><span _ngcontent-c3="" id="emp-directory-results_r0_active" class="k-icon k-i-check"></span>Active </div>
      <div _ngcontent-c3="" class="status active"><span _ngcontent-c3="" id="emp-directory-results_r0_registered" class="k-icon k-i-check"></span>Registered </div>
    </div>
    <div _ngcontent-c3="" class="float-break">&nbsp;</div>
    <div _ngcontent-c3="" class="main-details">
      <div _ngcontent-c3="" class="location"><span _ngcontent-c3="" class="label">Primary Location:</span><span _ngcontent-c3="" class="value emp-location" id="emp-directory-results_r0_location">EHS Only Location - Linked Client</span></div>
      <div _ngcontent-c3="" class="email"><span _ngcontent-c3="" class="label">Work Email:</span><span _ngcontent-c3="" class="value emp-email" id="emp-directory-results_r0_email"></span></div>
    </div>
    <div _ngcontent-c3="" class="sub-details" fxlayout="row" ng-reflect-layout="row" style="flex-direction: row; box-sizing: border-box; display: flex;">
      <div _ngcontent-c3="" class="detail">
        <div _ngcontent-c3="" class="label">Reports To</div>
        <div _ngcontent-c3="" class="value emp-reports-to" id="emp-directory-results_r0_reports-to"></div>
      </div>
      <div _ngcontent-c3="" class="detail">
        <div _ngcontent-c3="" class="label">Department</div>
        <div _ngcontent-c3="" class="value emp-department" id="emp-directory-results_r0_department">Not Available</div>
      </div>
      <div _ngcontent-c3="" class="detail">
        <div _ngcontent-c3="" class="label">Postition</div>
        <div _ngcontent-c3="" class="value emp-position" id="emp-directory-results_r0_position">Not Available</div>
      </div>
      <div _ngcontent-c3="" class="detail">
        <div _ngcontent-c3="" class="label">Job Category</div>
        <div _ngcontent-c3="" class="value emp-job-category" id="emp-directory-results_r0_job-category"></div>
      </div>
      <div _ngcontent-c3="" class="detail">
        <div _ngcontent-c3="" class="label">EHS Role</div>
        <div _ngcontent-c3="" class="value emp-ehs-role" id="emp-directory-results_r0_ehs-role">Client Admin</div>
      </div>
      <div _ngcontent-c3="" class="detail">
        <div _ngcontent-c3="" class="label">HR Role</div>
        <div _ngcontent-c3="" class="value emp-hr-role" id="emp-directory-results_r0_hr-role">Not Available</div>
      </div>
      <div _ngcontent-c3="" class="detail kpa-btn-column">
        <app-manage-employee _ngcontent-c3="" class="manage-emp-button" _nghost-c4="" ng-reflect-user="[object Object]" ng-reflect-index="0">
          <div _ngcontent-c4="" class="kpa-dropdown-btn-menu">
            <kendo-splitbutton _ngcontent-c4="" ng-reflect-popup-settings="[object Object]" ng-reflect-data="" id="btnManageEmployee_r0" class="k-widget k-split-button k-button-group" dir="ltr"><button kendobutton="" role="listbox" type="button" ng-reflect-look="default" ng-reflect-icon="" ng-reflect-icon-class="" ng-reflect-image-url="" ng-reflect-disabled="false" tabindex="0" aria-disabled="false" aria-expanded="false" aria-haspopup="true" aria-owns="a378cd21-63c7-4c0a-bdfa-6c60643ef4e2" aria-label="ACTION splitbutton" class="k-button" dir="ltr"> Action </button><button kendobutton="" type="button" class="k-button-icon k-button" ng-reflect-look="default" ng-reflect-icon="arrow-s" ng-reflect-disabled="false" tabindex="-1" dir="ltr"><span class="k-icon k-i-arrow-s" role="presentation"></span></button>
              <!---->
              <!---->
            </kendo-splitbutton>
            <kpa-dismiss-message _ngcontent-c4="" ng-reflect-message-text="Registration Sent!" ng-reflect-message-type="success" ng-reflect-horizontal-position="center" ng-reflect-vertical-position="bottom" ng-reflect-show-icon="true">
              <!---->
            </kpa-dismiss-message>
          </div>
        </app-manage-employee>
      </div>
    </div>
  </mat-card>