  <main>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1 style="margin-bottom:0; margin-top:0;">Mis citas</h1>
        </mat-card-title>
        <mat-card-subtitle>Listado de todas mis citas realizadas.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content >
          <mat-accordion class="example-headers-align" *ngIf="!loading else load" [@inOutAnimation]>
            <div *ngIf="citaCardList$!=null else noAppointment">
            <mat-expansion-panel *ngFor="let cita of citaCardList$ | async">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{cita.medico_nombre+" "+cita.medico_apellido}}
                </mat-panel-title>
                <mat-panel-description>
                  {{convertDate(cita.fecha_hora)}}
                  <mat-icon>date_range</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="content">
                <div class="first-row">
                  <div><span>ID: </span><span><b>{{cita.id}}</b></span></div>
                  <div><span>Consultorio: <b>
                        {{cita.consultorio}}
                      </b></span></div>
                </div>
                <div class="second-row">
                  <div>
                    <div>Paciente</div>
                    <div class="data">
                      {{cita.paciente_nombre+" "+cita.paciente_apellido}}
                    </div>
                  </div>
                  <div *ngIf="cita.paciente_nombre_tutor">
                    <div>Tutor</div>
                    <div class="data">
                      <span>
                        {{cita.paciente_nombre_tutor+" "+cita.paciente_apellido_tutor}}
                      </span>
                    </div>
                  </div>

                  <div>
                    <div>Servicio</div>
                    <div class="data">
                      {{cita.servicio_descrip}}
                    </div>
                  </div>
                  <div>
                    <div>Seguro</div>
                    <div class="data">
                      {{cita.seguro_descrip}}
                    </div>
                  </div>
                  <div>
                    <div>Contacto</div>
                    <div class="data">
                      {{cita.contacto}}
                    </div>
                  </div>

                  <div>
                    <div>Costo</div>
                    <div class="data">
                      <span>RD$ </span> {{cita.pago}}
                    </div>
                  </div>
                  <div>
                    <div>Cobertura</div>
                    <div class="data">
                      <span>RD$ </span> {{cita.cobertura}}
                    </div>
                  </div>
                  <div>
                    <div>Descuento</div>
                    <div class="data">
                      <span>RD$ </span> {{cita.descuento}}
                    </div>
                  </div>
                  <div>
                    <div>Diferencia</div>
                    <div class="data">
                      <span>RD$ </span> {{cita.diferencia}}
                    </div>
                  </div>
                </div>
              </div>

              <mat-action-row>
                <button mat-button color="warn">Posponer</button>
                <button mat-button>Cerrar</button>
              </mat-action-row>
            </mat-expansion-panel>
            </div>
          </mat-accordion>
          <ng-template #noAppointment>
            <h2 style="font-size: 2rem; font-weight: 300;">
              Usted no tiene citas pendiente
            </h2>
        </ng-template>
          <ng-template #load>
            <div class="progress-content">
              <mat-progress-spinner style="margin:auto;" [mode]="mode">
              </mat-progress-spinner>
            </div>
          </ng-template>
         
      </mat-card-content>
    </mat-card>
  </main>
