<div src="../../../assets/imgs/wave-haikei.png" class="spacer layer1"></div>
<footer class="footer-container text-light">
    <div class="row">
        <div class="bottom-row-item container-logo">
            <img src="../../../assets/imgs/footer_logo.png" class="footer-logo" alt="Logo">
        </div>
        <div class="bottom-row-item">
          <h6 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h6>
          <ul class="list-unstyled">
            <li>Inicio</li>
            <li>Citas</li>
            <li>Pre-cita para análisis</li> 
            <li>Ver mi consulta</li>
            <li>Directorio Médico</li>
            <li>Resultados</li>
          </ul>
        </div>

        <div class="bottom-row-item">
          <h6 class="text-muted bold-text"><b>DIRECCIÓN</b></h6>
          <p class="mb-1">Av. Gregorio Luperón, La Romana 22000</p>
        </div>
        <div class="top-row-item">
          <p class="social text-mutedbold-text"> <span class="mx-2"><i class="fa fa-facebook"
                aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-linkedin-square"
                aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-twitter"
                aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-instagram"
                aria-hidden="true"></i></span> </p><small class="rights"><span>&#174;</span>HOSPITAL SALVADOR todos los
            derechos reservados.</small>
        </div>
        <div class="top-row-item"><h6 class="text-muted bold-text"><b>CORREO</b></h6>
            <small> <span><i class="fa fa-envelope"
                aria-hidden="true"></i></span>info@hospitalsalvador.com</small>
        </div>
        <div class="top-row-item">
          <h6 class="text-muted bold-text"><b>CONTACTOS</b></h6>
          <small><span><i class="fa fa-phone"
                aria-hidden="true"></i></span>809-550-5565</small>
        </div>
    </div>
  </footer>