<div class="header">
  <div class="bg-container-sub">
    <div class="header-container">

      <div class="container-logo">
        <img src="../../../assets/imgs/header_logo.png" class="main-logo" alt="Logo">
      </div>

      <div class="sub-menu">
        <ul>
          <li>
            <a href="">Acerca de</a>
          </li>
          <li>
            <a href="">Noticias</a>
          </li>
          <li>
            <a href="">Ofertas Laborales</a>
          </li>
          <li>
            <span *ngIf="userName; else login">{{userName}}</span>
            <ng-template #login> <a href="login">
                <mat-icon matSuffix>person</mat-icon>
                Paciente Login
            </ng-template>
            </a>

          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="bg-container-menu">
    <nav class="menu-main">
      <ul>
        <li>Citas Online<i class="fa fa-angle-down"></i>
          <ul>
            <li><a href="">Realizar una cita</a></li>
            <li><a href="">Ver mi consulta</a></li>
            <li><a href="">Realizar pre-cita para análisis</a></li>
          </ul>
        </li>
        <li><a href="">Directorio Médico</a></li>
        <li><a href="">Resultados</a></li>
        <li><a href="">Contáctos</a></li>
        <li><a href="">Ubicación</a></li>
      </ul>
    </nav>
  </div>
</div>
