<main>
  <section class="contact-wrapper">
    <div class="bg"></div>
    <!-- <div class="background-blue"></div> -->
    <div class="title">
      <a [routerLink]="['/']">&#60; INICIO</a>
      <h1>Contactos</h1>
    </div>

    <div class="location-container">


      <mat-card>
        <mat-card-content>
          <h2>La Romana - Ciudad de La Romana</h2>
          <p>
            <mat-icon aria-hidden="false" aria-label="">place</mat-icon>
            <b>Dolores Tejedas, La Romana 22000</b>
          </p>
          <p>
            <mat-icon aria-hidden="false" aria-label="">phone_in_talk</mat-icon>
            <b class="numbers">809-555-5555&nbsp;</b><span><small> Número principal</small></span>
          </p>
          <p>
            <mat-icon aria-hidden="false" aria-label="">phone_in_talk</mat-icon>
            <b class="numbers">809-555-5555&nbsp;</b><span><small> Oficina de citas</small></span>
          </p>
          <p>
            <mat-icon aria-hidden="false" aria-label="">phone_in_talk</mat-icon>
            <b class="numbers">809-555-5555&nbsp;</b><span><small> Oficina de citas (llamadas gratuita)</small></span>
          </p>
          <p>
            <mat-icon aria-hidden="false" aria-label="">phone_in_talk</mat-icon>
            <b class="numbers">809-555-5555&nbsp;</b><span><small> Seguros y facturación</small></span>
          </p>
          <p>
            <mat-icon aria-hidden="false" aria-label="">phone_in_talk</mat-icon>
            <b class="numbers">809-555-5555&nbsp;</b><span><small> Solicitudes de registros médicos</small></span>
          </p>
          <p>
            <mat-icon aria-hidden="false" aria-label="">email</mat-icon>
            <b>info</b>
          </p>
          <p>
            <mat-icon aria-hidden="false" aria-label="">schedule</mat-icon>
            <b>Horarios de servicios administrativos: 7:00 a.m a 10:00 p.m</b>
          </p>
          <p>
            <mat-icon aria-hidden="false" aria-label="">schedule</mat-icon>
            <b>Horarios de visitas: 7:00 a.m a 8:00 p.m</b>
          </p>
          <p>
            <mat-icon aria-hidden="false" aria-label="">schedule</mat-icon>
            <b>Horarios de consulta: 8:00 a.m a 8:00 p.m</b>
          </p>

        </mat-card-content>
        <mat-card-actions>
          <button
            onclick="window.open('https://www.google.com/maps/place/Hipermercados+Iberia/@18.4289398,-68.9693356,16z/data=!4m5!3m4!1s0x8eaf5465dff06dc9:0x25af0ecc1cf85d3e!8m2!3d18.4280949!4d-68.9643478?hl=en-US')"
            mat-stroked-button color="primary">
            Ver ubicación
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card>
        <mat-card-content>
          <h2>Santo Domingo - Distrito Nacional</h2>
          <p>
            <mat-icon aria-hidden="false" aria-label="">place</mat-icon>
            <b>Rafael Augusto Sanchez 45, Santo Domingo</b>
          </p>
          <p>
            <mat-icon aria-hidden="false" aria-label="">phone_in_talk</mat-icon>
            <b class="numbers">809-555-5555&nbsp;</b><span><small> Número principal</small></span>
          </p>
          <p>
            <mat-icon aria-hidden="false" aria-label="">phone_in_talk</mat-icon>
            <b class="numbers">809-555-5555&nbsp; </b><span><small>Facturación</small></span>
          </p>
          <p>
            <mat-icon aria-hidden="false" aria-label="">phone_in_talk</mat-icon>
            <b class="numbers">809-555-5555&nbsp;</b><span><small> Oficina de citas (llamadas gratuita)</small></span>
          </p>
          <p>
            <mat-icon aria-hidden="false" aria-label="">phone_in_talk</mat-icon>
            <b class="numbers">809-555-5555&nbsp;</b><span>
              <small>
                Solicitud de registros de imágenes de
                radiología
              </small>
            </span>
          </p>
          <p>
            <mat-icon aria-hidden="false" aria-label="">phone_in_talk</mat-icon>
            <b class="numbers">809-555-5555&nbsp;</b><span><small> Solicitud de pasantia</small></span>
          </p>
          <p>
            <mat-icon aria-hidden="false" aria-label="">phone_in_talk</mat-icon>
            <b class="numbers">809-555-5555&nbsp;</b><span>
              <small>
                Traslado de pacientes a otro hospital (centro de
                transferencia de adminsión, 24 horas del día)
              </small>
            </span>
          </p>
          <p>
            <mat-icon aria-hidden="false" aria-label="">email</mat-icon>
            <b>info</b>
          </p>
          <p>
            <mat-icon aria-hidden="false" aria-label="">schedule</mat-icon>
            <b>Horarios de servicios administrativos: 6:00 a.m a 12:00 p.m</b>
          </p>
          <p>
            <mat-icon aria-hidden="false" aria-label="">schedule</mat-icon>
            <b>Horarios de visitas: 7:00 a.m a 6:00 p.m</b>
          </p>
          <p>
            <mat-icon aria-hidden="false" aria-label="">schedule</mat-icon>
            <b>Horarios de consulta: 8:00 a.m a 6:00 p.m</b>
          </p>

        </mat-card-content>
        <mat-card-actions>
          <button onclick="window.open('https://www.google.com/maps/@18.455369,-69.9643642,13.94z?hl=en-US')"
            mat-stroked-button color="primary">
            Ver ubicación
          </button>
        </mat-card-actions>
      </mat-card>

    </div>

  </section>

</main>

<section class="form-wrapper" id="contactus">
  <h1>Envianos tus preguntas y comentarios</h1>
  <form [formGroup]="contactFormGroup" (ngSubmit)="onClickSubmit()" class="form-group _row contact-form">
    <table class="example-full-width" cellspacing="0">
      <tr class="name">
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Tu nombre</mat-label>
            <input formControlName="nameControl" matInput required>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Tu número de teléfono</mat-label>
            <input formControlName="phoneControl" mask="000-000-0000" type="tel" matInput required>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input formControlName="emailControl" type="email" matInput [errorStateMatcher]="matcher" placeholder="">
      <mat-error
        *ngIf="contactFormGroup.get('emailControl').hasError('email') && !contactFormGroup.get('emailControl').hasError('required')">
        Por favor ingrese un correo válido
      </mat-error>
      <mat-error *ngIf="contactFormGroup.get('emailControl').hasError('required')">
        Correo es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Motivo de su contactar</mat-label>
      <mat-select formControlName="reasonControl" name="reason" required>
        <mat-option [value]=0>General</mat-option>
        <mat-option [value]=1>Donación</mat-option>
        <mat-option [value]=2>Medios de comunicación</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Tu mensaje</mat-label>
      <textarea formControlName="messageControl" rows=10 matInput placeholder="" required></textarea>
    </mat-form-field>
    <div *ngIf="serverMsj.length != 0" class="server-msj">{{serverMsj}}</div>

    <button type="submit" mat-flat-button [disabled]="isSent" color="primary">Enviar</button>

  </form>
</section>
