<div class="doctor-card">

  <div class="flex-container">
    <div class="doctor-img">
      <img [src]="doctorData.profilePhoto | noProfilePhoto" alt="" srcset="">
    </div>

    <div class="doctor-info">

      <div class="descrip">
        <a [routerLink]="['/medicos', doctorData.id]">
          <p class="nombre"> {{doctorData.nombre + " "+ doctorData.apellido  }}</p>
        </a>
        <p class="especialidades"> {{_especialidades}}</p>
      </div>

      <div class="contactos">
        <div class="numeros">
          <p *ngIf="doctorData.telefono1" class="telefono1">{{doctorData.telefono1}}
            <img class="contact-icon" *ngIf="doctorData.telefono1_contact.includes('w')"
              src="../../../../assets/icons/whatsapp.svg" />
            <img *ngIf="doctorData.telefono1_contact.includes('t')" src="../../../../assets/icons/phone-call.svg" />
          </p>
          <p *ngIf="doctorData.telefono2" class="telefono2">{{doctorData.telefono2}}
            <img *ngIf="doctorData.telefono2_contact.includes('w')" src="../../../../assets/icons/whatsapp.svg" />
            <img *ngIf="doctorData.telefono2_contact.includes('t')" src="../../../../assets/icons/phone-call.svg" />
          </p>
        </div>
        <p class="correo">{{doctorData.correo}}</p>
      </div>
    </div>
  </div>
  <div class="action-buttons">

    <button [routerLink]="['/crear-cita']" [queryParams]="{ medicoId: doctorData.id}" mat-stroked-button color="accent">
      <span>Hacer cita</span>
      <mat-icon style="margin-left: 3px;" matSuffix>event</mat-icon>
    </button>

    <button [routerLink]="['/medicos',doctorData.id]" mat-stroked-button color="accent">
      <span>Ver perfil</span>
      <mat-icon style="margin-left: 3px;" matSuffix>badge</mat-icon>
    </button>
  </div>
</div>
