<div class="wrapper" style="    position: relative;">
  <button class="center-map" color="primary" onclick="centerMap()" mat-flat-button>País completo</button>

  <div id="map">
  </div>
  <mat-card>
    <mat-card-content>
      <div onclick="setRomana()" id="romana" class="romana">
        <p>La Romana</p>
      </div>
      <div onclick="setSD()" class="sd">
        <p>Santo Domingo</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<main>
  <h2>
    Atención excepcional y accesible a todas horas
  </h2>
  <p>
    El Hospital Salvador es uno de los sistemas de atención médica académica integrados más completos del país, más de 5
    clínicas y grupos médicos de atención primaria y especializada, y una variedad de servicios de telemedicina. Con
    ubicaciones en la Ciudad de La Romana, contamos con especialistas líderes en todos los campos de la medicina que
    brindan atención conveniente y de alta calidad a nuestros pacientes.
  </p>
</main>
