<div class="map-wrapper" style="    position: relative;">
  <button class="button-center-map" color="primary" (click)="setCenter(18.436234,-69.46064)" mat-flat-button>País
    completo</button>
  <google-map width="100vw" height="450px" [(zoom)]="zoom" [(center)]="center" [options]="options">
    <map-marker #marker="mapMarker" *ngFor="let hospital of markers; let i = index" (mapClick)="openInfoWindow(marker)"
      [position]="hospital.position">
      <map-info-window>
        <h4>{{ hospital.name }}</h4>
        <p>lat: {{ hospital.position.lat }}</p>
        <p>long: {{ hospital.position.lng }}</p>
        <p>Teléfono: 809-555-8754</p>
      </map-info-window>
    </map-marker>

  </google-map>
</div>
<main>
  <mat-card>

    <mat-card-content>
      <div class="swiper-container">
        <div class="swiper-wrapper">

          <div class="swiper-slide romana container">
            <p class="title">La Romana</p>
            <div class="overlay"></div>
            <div (click)="setFocus(18.4296925,-68.9656023)" id="romana" class="romana" class="button-locate">
              <a>Ubicar</a>
            </div>
            <div class="button-open-map"><a target="_blank"
                href="https://www.google.com/maps/place/Hipermercados+Iberia/@18.4289398,-68.9693356,16z/data=!4m5!3m4!1s0x8eaf5465dff06dc9:0x25af0ecc1cf85d3e!8m2!3d18.4280949!4d-68.9643478?hl=en-US">Abrir
                mapa</a></div>
          </div>
          <div class="swiper-slide romana container">
            <p class="title">La Romana</p>
            <div class="overlay"></div>
            <div (click)="setFocus(18.4296925,-68.9656023)" id="romana" class="romana" class="button-locate">
              <a>Ubicar</a>
            </div>
            <div class="button-open-map"><a target="_blank"
                href="https://www.google.com/maps/place/Hipermercados+Iberia/@18.4289398,-68.9693356,16z/data=!4m5!3m4!1s0x8eaf5465dff06dc9:0x25af0ecc1cf85d3e!8m2!3d18.4280949!4d-68.9643478?hl=en-US">Abrir
                mapa</a></div>
          </div>
          <div class="swiper-slide romana container">
            <p class="title">La Romana</p>
            <div class="overlay"></div>
            <div (click)="setFocus(18.4296925,-68.9656023)" id="romana" class="romana" class="button-locate">
              <a>Ubicar</a>
            </div>
            <div class="button-open-map"><a target="_blank"
                href="https://www.google.com/maps/place/Hipermercados+Iberia/@18.4289398,-68.9693356,16z/data=!4m5!3m4!1s0x8eaf5465dff06dc9:0x25af0ecc1cf85d3e!8m2!3d18.4280949!4d-68.9643478?hl=en-US">Abrir
                mapa</a></div>
          </div>
          <div class="swiper-slide romana container">
            <p class="title">La Romana</p>
            <div class="overlay"></div>
            <div (click)="setFocus(18.4296925,-68.9656023)" id="romana" class="romana" class="button-locate">
              <a>Ubicar</a>
            </div>
            <div class="button-open-map"><a target="_blank"
                href="https://www.google.com/maps/place/Hipermercados+Iberia/@18.4289398,-68.9693356,16z/data=!4m5!3m4!1s0x8eaf5465dff06dc9:0x25af0ecc1cf85d3e!8m2!3d18.4280949!4d-68.9643478?hl=en-US">Abrir
                mapa</a></div>
          </div>
          <div class="swiper-slide romana container">
            <p class="title">La Romana</p>
            <div class="overlay"></div>
            <div (click)="setFocus(18.4296925,-68.9656023)" id="romana" class="romana" class="button-locate">
              <a>Ubicar</a>
            </div>
            <div class="button-open-map"><a target="_blank"
                href="https://www.google.com/maps/place/Hipermercados+Iberia/@18.4289398,-68.9693356,16z/data=!4m5!3m4!1s0x8eaf5465dff06dc9:0x25af0ecc1cf85d3e!8m2!3d18.4280949!4d-68.9643478?hl=en-US">Abrir
                mapa</a></div>
          </div>
          <div class="swiper-slide romana container">
            <p class="title">La Romana</p>
            <div class="overlay"></div>
            <div (click)="setFocus(18.4296925,-68.9656023)" id="romana" class="romana" class="button-locate">
              <a>Ubicar</a>
            </div>
            <div class="button-open-map"><a target="_blank"
                href="https://www.google.com/maps/place/Hipermercados+Iberia/@18.4289398,-68.9693356,16z/data=!4m5!3m4!1s0x8eaf5465dff06dc9:0x25af0ecc1cf85d3e!8m2!3d18.4280949!4d-68.9643478?hl=en-US">Abrir
                mapa</a></div>
          </div>
          <div class="swiper-slide romana container">
            <p class="title">La Romana</p>
            <div class="overlay"></div>
            <div (click)="setFocus(18.4296925,-68.9656023)" id="romana" class="romana" class="button-locate">
              <a>Ubicar</a>
            </div>
            <div class="button-open-map"><a target="_blank"
                href="https://www.google.com/maps/place/Hipermercados+Iberia/@18.4289398,-68.9693356,16z/data=!4m5!3m4!1s0x8eaf5465dff06dc9:0x25af0ecc1cf85d3e!8m2!3d18.4280949!4d-68.9643478?hl=en-US">Abrir
                mapa</a></div>
          </div>

          <div class="swiper-slide sd container">
            <p class="title">Santo Domingo</p>
            <div class="overlay"></div>
            <div (click)="setFocus(18.4634403,-69.9499557)" class="button-locate"><a>Ubicar</a></div>
            <div class="button-open-map"><a target="_blank"
                href="https://www.google.com/maps/@18.455369,-69.9643642,13.94z?hl=en-US">Abrir mapa</a></div>
          </div>
        </div>

        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </mat-card-content>

  </mat-card>
  <h2>
    Atención excepcional y accesible a todas horas
  </h2>
  <mat-divider style="margin-bottom:1rem;">
  </mat-divider>
  <p>
    El Hospital Salvador es uno de los sistemas de atención médica académica integrados más completos del país, más de 5
    clínicas y grupos médicos de atención primaria y especializada, y una variedad de servicios de telemedicina. Con
    ubicaciones en la Ciudad de La Romana, contamos con especialistas líderes en todos los campos de la medicina que
    brindan atención conveniente y de alta calidad a nuestros pacientes.
  </p>


</main>
