<google-map width="100vw" height="450px" [(zoom)]="zoom" [(center)]="center" [options]="options">
  <map-marker #marker="mapMarker" *ngFor="let hospital of markers; let i = index" (mapClick)="openInfoWindow(marker)"
    [position]="hospital.position">
    <map-info-window>
      <h4>{{ hospital.name }}</h4>
      <p>lat: {{ hospital.position.lat }}</p>
      <p>long: {{ hospital.position.lng }}</p>
      <p>Teléfono: 809-555-8754</p>
    </map-info-window>
  </map-marker>

</google-map>
<main>
  <mat-card>
    <mat-card-content>
      <div class="romana container">
        <p class="title">La Romana</p>
        <div class="overlay"></div>
        <div (click)="setFocus(18.4296925,-68.9656023)" id="romana" class="romana" class="button"><a>Ubicar</a></div>
      </div>

      <div class="sd container">
        <p class="title">Santo Domingo</p>
        <div class="overlay"></div>
        <div (click)="setFocus(18.4634403,-69.9499557)" class="button"><a>Ubicar</a></div>
      </div>

    </mat-card-content>
    <swiper
    [config]="config"
    (swiper)="onSwiper($event)"
    (slideChange)="onSlideChange()"
  >
    <ng-template swiperSlide>Slide 1</ng-template>
    <ng-template swiperSlide>Slide 2</ng-template>
    <ng-template swiperSlide>Slide 3</ng-template>
    <ng-template swiperSlide>Slide 4</ng-template>
    <ng-template swiperSlide>Slide 5</ng-template>
    <ng-template swiperSlide>Slide 6</ng-template>
  </swiper>
  </mat-card>
  <h2>
    Atención excepcional y accesible a todas horas
  </h2>
  <mat-divider style="margin-bottom:1rem;">
  </mat-divider>
  <p>
    El Hospital Salvador es uno de los sistemas de atención médica académica integrados más completos del país, más de 5
    clínicas y grupos médicos de atención primaria y especializada, y una variedad de servicios de telemedicina. Con
    ubicaciones en la Ciudad de La Romana, contamos con especialistas líderes en todos los campos de la medicina que
    brindan atención conveniente y de alta calidad a nuestros pacientes.
  </p>
</main>
